<% provide :title, "About" %>
<h1><%= t ".ab" %></h1>
<p>
  <%= t ".the" %> <a href="http://www.railstutorial.org/"><em><%= t ".ror" %></em></a> <%= t ".ia" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a> <%= t ".end" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".ss" %></a>
  <%= t ".tt" %>
  <a href="http://rubyonrails.org/"><%= t ".rr" %></a>.
  <%= t ".this" %>
</p>
