<h1><%= t ".help" %></h1>
<p>
  <%= t ".get" %>
  <a href="http://www.railstutorial.org/help"><%= t ".rt" %></a>.
  <%= t ".tog" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".ror" %></em>
  <%= t ".book" %></a>.
</p>
