<footer class="footer">
  <small>
    <%= t ".the" %> <a href="http://www.railstutorial.org/"><%= t ".ror" %> </a>
    <%= t ".by" %> <a href="http://www.michaelhartl.com/"><%= t ".mh" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".ab"), "#" %></li>
      <li><%= link_to t(".ct"), "#" %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".new" %> </a></li>
    </ul>
  </nav>
</footer>
